{% extends 'login-base.html' %}
{% load static staticfiles i18n %}

{% block content %}
    <div class="body-login-container" id="body-register-container_id"
         style="background-image: url({% static 'img/jpg/sign-in.jpg' %})">
        <div class="forgot-password-modal">
            {#============== password recovery ==============#}
            <div class="login-container show" id="send_phone_block_id">
                <div class="logo">
                    <img src="{% static 'img/png/лого.png' %}" alt="">
                </div>
                <div id="phone-validation-block">
                    <h2>{% trans 'Восстановление пароля' %}</h2>
                    <p>{% trans 'Напишите номер телефона для получения подтверждения кода' %}</p>
                    <form>
                        <div class="password-input">
                            <label>
                                <input type="text" placeholder="+996 (000) 00-00-00" id="phone" name="phone" autocomplete="off">
                            </label>
                            <p id="phone-valid-error" style="display: none">{% trans 'номер не существует' %}</p>
                        </div>
                        <div class="login-button">
                            <a id="send-button" class="send-button">{% trans 'Отправить' %}</a>
                        </div>
                        <div class="info"><a href="{% url 'users:login' %}">{% trans 'Назад' %}</a></div>
                    </form>
                    <button id="recaptcha" style="display: none"></button>
                </div>
            </div>

            {#================= confirmation password ================#}

            <div class="login-container" id="confirm_code_block_id">
                <div class="logo">
                    <img src="{% static 'img/png/лого.png' %}" alt="">
                </div>
                <div id="phone-validation-block">
                    <h2>{% trans 'Подтверждение' %}</h2>
                    <p>
                        {% trans 'Код был отправлен на номер' %} <span id="resived_phone_id"></span>
                        <a href="">{% trans 'Неправильный номер?' %}</a>
                    </p>
                    <form>
                        <div class="password-input">
                            <label>
                                <input type="text" name="code" placeholder="000000" autocomplete="off">
                            </label>
                            <p id="code-valid-error" style="display: none">{% trans 'неправльный код' %}</p>
                            <p id="code-required-error" style="display: none">{% trans 'обязательное поле' %}</p>
                        </div>
                        <div class="login-button">
                            <a id="confirm_button_id" class="send-button">{% trans 'Отправить' %}</a>
                        </div>
                        <div class="modal-timer">
                            <div class="info-timer">{% trans 'Не пришел код подтверждения?' %}</div>
                            <div class="modal-timer-but disabled" id="send_again_btn">
                                {% trans 'Отправить снова' %}
                                <span class="timer-class">00:00</span>
                            </div>
                        </div>
                    </form>
                    <button id="recaptcha" style="display: none"></button>
                </div>
            </div>

            {#===================change password===============#}

            <div class="login-container" id="change_password_block_id">
                {% include 'components/change_password_form.html' %}
            </div>

            {#=================== final modal ===================#}


            <div class="login-container final-modal-background" id="success_modal_block_id">
                <div class="logo">
                    <img src="{% static 'img/png/лого.png' %}" alt="">
                </div>
                <form>
                    <div class="final-icon">
                        <img src="{% static 'img/svg/icon-final.svg' %}" alt="load img">
                    </div>
                    <div class="final-text">{% trans 'Вы успешно сменили пароль!' %}</div>
                    <div class="login-button">
                        <a href="{% url 'users:login' %}" class="send-button big-margin">
                            {% trans 'Хорошо' %}
                        </a>
                    </div>
                </form>
                <button id="recaptcha" style="display: none"></button>
            </div>

            {#================== error modal ===================#}

            <div class="login-container final-modal-background">
                <div class="logo">
                    <img src="{% static 'img/png/лого.png' %}" alt="">
                </div>
                <form>
                    <div class="error-modal">{% trans 'Ошибка' %}</div>
                    <div class="login-button">
                        <a href="{% url 'users:forgot_password' %}" class="send-button big-margin">{% trans 'Закрыть' %}</a>
                    </div>
                </form>
                <button id="recaptcha" style="display: none"></button>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-auth.js"></script>
    <script src="https://unpkg.com/imask"></script>
    <script>
        const changePasswordUrl = '{% url 'users:forgot_password' %}';
        let butt = $(".modal-timer-but");
        let intervalFunc = null;

        function startTimer() {
            let duration = 60;
            let timer = duration, minutes, seconds;

            if (intervalFunc) {
              clearInterval(intervalFunc);
            }

            intervalFunc = setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                $('.timer-class').text(minutes + ":" + seconds);

                if (--timer < 0) {
                    clearInterval(intervalFunc);
                    $('.timer-class').text('');
                    butt.removeClass("disabled")
                }
            }, 1000);
        }

        butt.click(function () {
            startTimer();
            butt.addClass("disabled")
        });

        const registrationEndpoint = '{% url 'users:registration' %}';
        const registerBackgroundImgUrl = '{% static "img/jpg/img.jpg" %}';
        const phoneInput = document.getElementById('phone');
        const phoneInput2 = document.getElementById('phone2');
        const phoneMask = IMask(phoneInput, {
            mask: '+{996} (000) 00-00-00',
            lazy: false,  // make placeholder always visible
        });
        const phoneMask2 = IMask(phoneInput2, {
            mask: '+{996} (000) 00-00-00',
            lazy: false,  // make placeholder always visible
        });
    </script>
    <script src="{% static 'js/firebase_config.js' %}"></script>
    <script src="{% static 'js/forgot_password.js' %}"></script>
{% endblock %}
