DATABASE_URL=postgis://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

MINIO_INTERNAL_HOST=minio:9000
MINIO_ENDPOINT_HOST=${MINIO_ENDPOINT_HOST}

BACKEND_WEB_PORT=${BACKEND_WEB_PORT}
BACKEND_API_WEB_CONCURRENCY=${BACKEND_API_WEB_CONCURRENCY}
DJANGO_ALLOWED_HOSTS=${DJANGO_ALLOWED_HOSTS}
DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}

SITE_PROTOCOL=${SITE_PROTOCOL}
SITE_DOMAIN=${SITE_DOMAIN}