{% load i18n static staticfiles %}


<div class="logo">
    <img src="{% static 'img/png/лого.png' %}" alt="">
</div>
<div id="phone-validation-block">
    <h2>{% trans 'Смените пароль' %}</h2>
    <form action="{% url 'users:forgot_password' %}" method="post" id="change_pass_form">
        {% csrf_token %}
        <div class="password-input">
            <label>
                {{ form.password }}
            </label>
            {% if form.password.errors %}
                <p>
                    {% for error in form.password.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
        <div class="password-input">
            <label>
                {{ form.password2 }}
            </label>
            {% if form.password2.errors %}
                <p>
                    {% for error in form.password2.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
        <div style="display: none">
            <label>
                {{ form.phone_number }}
            </label>
        </div>
        <div class="login-button big-margin">
            <button type="button" id="change_password_btn_id">{% trans 'Сменить пароль' %}</button>
        </div>
    </form>
    <button id="recaptcha" style="display: none"></button>
</div>
