{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'fonts/stylesheet.css' %}" rel="stylesheet">
    <link href="{% static 'fonts/Roboto/stylesheet.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %} {% endblock %}</title>
    <style>
        .row-green {
            background: rgba(65, 255, 49, 0.06);
        }

        .row-red {
            background: rgba(255, 65, 65, 0.06);
        }

        .row-green td:first-child span {
            background: #2DA623;
        }

        .row-red td:first-child span {
            background: #F34D4D;
        }
    </style>
    {% block style %}{% endblock %}
</head>
<body>
    <div class="reports-detail">
        <div class="report-template show">
            <h1>Отчет</h1>
            <div class="reports-detail__content">
                <div class="table_add-staff">
                    <div class="table_content-all">
                        <div class="table_content">
                            <div class="reports-detail__info">
                                <div>
                                    <div class="name">{% trans 'Ф.И.О.' %}:</div>
                                    <div class="info">{{ user_org.user.get_full_name }}</div>
                                </div>
                                <div>
                                    <div class="name">{% trans 'Должность' %}:</div>
                                    <div class="info">{{ user_org.position }}</div>
                                </div>
                                {% if user_org.organization.is_department %}
                                    <div>
                                        <div class="name">{% trans 'Филиал' %}:</div>
                                        <div class="info">{{ user_org.organization.parent_org.name }}</div>
                                    </div>
                                    <div>
                                        <div class="name">{% trans 'Отдел' %}:</div>
                                        <div class="info">{{ user_org.organization.name }}</div>
                                    </div>
                                {% elif user_org.organization.parent_org %}
                                    <div>
                                        <div class="name">{% trans 'Филиал' %}:</div>
                                        <div class="info">{{ user_org.organization.name }}</div>
                                    </div>
                                {% else %}
                                    <div>
                                        <div class="name">{% trans 'Филиал' %}:</div>
                                        <div class="info">{{ user_org.organization.name }}</div>
                                    </div>
                                {% endif %}
                            </div>
                            <table class="table">
                                <tr>
                                    <th>
                                        <span>{% trans 'День недели' %}</span>
                                    </th>
                                    <th>
                                        <span>{% trans 'Дата' %}</span>
                                    </th>
                                    <th>
                                        <span>{% trans 'Пришел' %}</span>
                                    </th>
                                    <th>
                                        <span>{% trans 'Ушел' %}</span>
                                    </th>
                                    <th>
                                        <span>{% trans 'Кол-во часов' %}</span>
                                    </th>
                                </tr>
                                {% for work_time in work_times %}
                                    <tr>
                                        <td>
                                            <span>{{ work_time.start_time|date:'l' }}</span>
                                        </td>
                                        <td>
                                            <span>{{ work_time.start_time|date:'d.m.y' }}</span>
                                        </td>
                                        <td>
                                            <span>{{ work_time.start_time|time:'H:i' }}</span>
                                        </td>
                                        <td>
                                    <span>{% if work_time.end_time %} {{ work_time.end_time|time:'H:i' }} {% else %}
                                        -/- {% endif %} </span>
                                        </td>
                                        <td>
                                    <span>{% if work_time.hour_duration %} {{ work_time.hour_duration }} {% trans 'ч.' %} &nbsp;
                                        {{ work_time.minute_duration }} {% trans 'мин.' %} {% else %} -/- {% endif %}</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
