{% extends 'base.html' %}
{% load static staticfiles i18n %}

{% block title %}{% trans 'Добавить филиал' %}{% endblock %}

{% block content %}
    <main class="add-filial">
        {% include 'components/header.html' %}
        <div class="right">
            {% include 'components/right-header.html' %}
            <div class="table-add-staff__content-all">
                <div class="table-add-staff__content">
                    <div class="table_add-staff">
                        <div class="add-employee__content">
                            <h1>{% trans 'Добавить филиал' %}</h1>
                            <form>
                                <div class="add-filial__input">
                                    <input type="text" id="filial-name-input_id" placeholder="{% trans 'Введите название филиала' %}">
                                </div>
                                <div class="indicate-geolocation" style="margin-top: 30px">
                                    <div class="info">{% trans 'Указать местоположение филиала' %}</div>
                                    <div class="location-button">
                                        <div class="modal-location open-modal__location">{% trans 'Геолокация' %}</div>
                                        <p id="location-error-msg_id">
                                            {% if setting.location is None %}{% trans 'Укажите Геолокацию' %}{% endif %}</p>
                                    </div>
                                </div>
                                <div class="checkbox-all">
                                    <div class="checkbox-and-radio filial-and-department">
                                        <div class="checkbox-block">
                                            <div class="checkbox">
                                                <input type="checkbox" id="checkbox1">
                                                <label for="checkbox1"></label>
                                            </div>
                                            <div class="checkbox-info">
                                                <div class="name">{% trans 'Отделы' %}</div>
                                                <div class="info">{% trans 'Пропустите, если у Вас нет отделов' %}</div>
                                            </div>
                                        </div>
                                        <div class="select-content__all">
                                            <div class="select-content__info">
                                                <span>{% trans 'Добавить отделы к текущему филиалу' %}</span>
                                            </div>
                                            <div class="select-content" id="department-block_id">
                                                <div class="select-content__inner" id="department-list-block_id">
                                                    <div id="department-list_id"></div>
                                                    <div class="add-radio">
                                                        <input type="radio" id="radio4" name="radio" placeholder="Добавить отдел">
                                                        <label for="radio4">{% trans 'Добавить отдел' %}</label>
                                                    </div>
                                                    <div class="radio input-category">
                                                        <input type="text" id="department-input_id" autocomplete="off" placeholder="{% trans 'Введите название' %}">
                                                        <div class="button-add-input" id="button-add-input_id"></div>
                                                    </div>
                                                    <p style="color: red; font-size: 12px; margin: 2px 5px; display: none;" id="name-error_id">{% trans 'Отдел с таким названием уже добавлен' %}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button id="save-button_id" type="button" disabled>{% trans 'Сохранить' %}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-staff__modal-finish" id="success-saved-msg_id" style="display: none;">
            <div class="modal-finish__content">
                <div class="modal-icon"></div>
                <p>{% trans 'Успешно добавлено' %}</p>
                <div class="modal-finish__close">
                    <a style="position: absolute; top: 0; bottom: 0; right: 0; left: 0;"
                       href="{% url 'organizations:filials_list' org_pk=organization.id %}"></a>
                    <span>{% trans 'Хорошо' %}</span>
                </div>
            </div>
        </div>
        <div class="modal-location__content">
            <div class="modal-location__map">
                <div class="modal-location__map-inner">
                    <div id="map" style="width:100%; height:400px">
                    </div>
                    <div class="close-modal-location" id="close-modal-location_id">Сохранить</div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block script %}
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full&lazy=true"></script>
    <script src="{% static 'js/utils/cookie.js' %}"></script>
    <script>
        const filialDepartmentCreateEndpoint = '{% url "organizations:filial_create" org_pk=organization.id %}';
        const orgID = '{{ organization.id }}';
    </script>
    <script src="{% static 'js/filials/filials.js' %}"></script>
{% endblock %}
